
<div class="container">
  	<div class="row">
		<div class="mainQuestion">
			<p>What type of Burger do you like?</p>
		</div>
		<div class="burgerpic">
			<img src="/assets/img/burger.png" alt="Burger" style="width:500px;height:500px;">
		</div>
		<div class="mainAnswer">
			<p>It's a bean burger for me. . . .</p>
		</div>
	</div>
	<div class="row">

		<div class="col-md-6">
			<div class="newBurger">
				<h4>Your burgers to devour.</h4>
				<ul>
					{{#each burgers}}
						{{#unless this.devoured}}
							<li>
								<p>
									{{this.burger_name}}

									<form action="/{{this.id}}?_method=PUT" method="POST">
										<input type="hidden" name="eaten" value="true">
										<button type="submit" class="btn btn-primary btn-sm">Devoured?</button>
									</form>

								</p>
							</li>
						{{/unless}}
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="existingBurger">
				<h4>Here are some burgers already devoured.</h4>
				<ul>
					{{#each burgers}}
						{{#if this.devoured}}
							<li>
								<p>
									{{this.burger_name}}
								</p> 
							</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="inputRow">
			<div class="col-md-4">
			</div>
			<div class="col-md-8">
				<form class="create-burger" action="/" method="POST">
					<div class="form-group">
						<input type="text" class="form-control input-lg" name="addBurger" placeholder="Type In Your Burger Here">
					</div>
					<button type="submit" class="btn btn-primary btn-lg">Then submit it here</button>
				</form>
			</div>
		</div>
	</div>
</div>