
<div class="container">
  	<div class="row">
			<div class="mainQuestion">
				<p>What type of Burger do you like?</p>
			</div>
			<div class="burgerpic">
				<img src="../public/assets/img/burger.png" alt="Burger" style="width:500px;height:500px;">
			</div>
			<div class="mainAnswer">
				<p>It's a bean burger for me. . . .</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class=newBurger>
					<ul>
						{{#each xxxx}}
							<li>
								<p>
									{{}}
								</p>
							</li>
						{{/each}}
					</ul>

<!--					<p>New burger goes here</p> -->

				</div>
			</div>
			<div class="col-md-6">
				<div class=existingBurger>
					<ul>
						{{#each existBurger}}
							<li>
								<p>
									{{this.burger_name}}
								</p> 
							</li>
						{{/each}}
					</ul>
<!--					<p>Existing burger goes here</p> -->

				</div>
			</div>
		</div>
	<div class="row">
		<div class="inputRow">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<form action="/" method="POST">
					<div class="burgerInput">
						<input type="text" class="form-control input-lg" name="burgerName" placeholder="Type In Your Burger Here">
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<div class="burgerSubmit">
					<a class="btn btn-primary btn-lg" id="submitBurger" role="button">Then submit it here</a>
				</div>
			</div>
		</div>
	</div>
</div>